Checks: '-*,clang-analyzer-*,bugprone-use-after-move,bugprone-dangling-handle,bugprone-sizeof-expression,performance-unnecessary-copy-initialization'
WarningsAsErrors: '*'
HeaderFilterRegex: '(include/shutter|src)/.*'
